/*чтото не так*/
body {
		background:#08187F; /*  Фоновый цвет и фоновый рисунок*/
		color: #000; /* Цвет текста на странице*/
		background-attachment: fixed; /* Фон страницы фиксируется */
		background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
}


p.text{
	background:#712E0E;
	color:#69B777;
	font: 15pt sans-serif;
	transition:1s;
}

table.class{
	color:#FFA500;
	font-size:30;
	padding:30px;
}

div.center{
	padding:30px;
	font-size:30;
	color:#FFA500;
}


table.oo{
	background-color:#660066;
	border: 6px double ;
}

td.main{
	background: url(img/main/cosmos_back.jpg); 
	background-size: 100%;
}
td.sboky {
	background: url(img/main/Dira.jpg); 
	background-repeat: repeat-y;
	background-size: 100%;
	transition: 1s;
	transition-delay: 2s;
}
td.sboky:hover {
	background: url(img/main/Dira.jpg); 
	background-repeat: repeat-y;
	background-size: 100%;
	transform: rotate(360deg);
	transition: 2s;
}

td.top {
	background: url(img/main/up_index.jpg);
	background-repeat: repeat-x;
	background-size: 100% 100%;
	
}

td.top_s{
	height:60px;
    position:relative;
    left: 0px;
	transition: 0.5s;

}
td.top_s:hover{
	height:60px;
	position:relative;
    left: 15px;
	transition: 0.5s;
}

td.main_class{
	background: url(img/class/cosmos_back.jpg); 
	background-size: 100%;
}

img.class{
	height:260px;
	width:260px;
	padding:5px;
	transition:1s;
	transition-delay:0.5s;
	border: 2px solid #222222;
}
img.class:hover{
	height:130px;
	width:130px;
	padding:0px;
	transition:0.4s;
	transform: scale(4,4);
	border: 5px solid #637EC7;
}

a:link {
  color: #FF9401; 
  border-bottom: 1px dashed; 
}
a:visited {
  color: #FF9401;
}
a:hover {
  color: #1241AB; 
  border-bottom: .07em solid;
}
a:active {
  color: #497DDD; 
  border-bottom: 1px dashed;
}

